	.uploadResult {
		width:100%;
		background-color:aqua;	
	}
	.uploadResult ul {
		display:flex;
		flex-flow:row;
		justify-content:center;
		align-items:center;
	}
	.uploadResult ul li {
		list-style : none;
		padding:10px;
	}
	.uploadResult ul li img {
		width:40px;
	}