<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http:/mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 위쪽에는 마이바티스에서 사용할 xml파일임을 명시
아래쪽 mapper태그의 namespace에 어떤 인터페이스와 연동할지 패키지부터 다 적음 -->
<mapper namespace="com.ict.mapper.ReplyMapper">

	<select id="getList" resultType="com.ict.domain.ReplyVO">
		SELECT * FROM reply_tbl
			WHERE bno = #{bno}
		ORDER BY rno DESC
	</select>

	<insert id="create">
		INSERT INTO reply_tbl
			(rno, bno, reply, replyer)
				VALUES
			(reply_num.nextval, #{bno}, #{reply}, #{replyer})
	</insert>
	
	<update id="update">
		UPDATE reply_tbl
			SET
		reply = #{reply}, updateDate = SYSDATE
			WHERE rno = #{rno}
	</update>	
	
	<delete id="delete">
		DELETE FROM reply_tbl
			WHERE rno = #{rno}	
	</delete>	
	
	<select id="getBno" resultType="long">
		SELECT bno FROM reply_tbl
			WHERE rno = #{rno}
	</select>
	
	<delete id="deleteAllReplies">
		DELETE FROM reply_tbl
			WHERE bno = #{bno}
	</delete>

</mapper>




